  <!-- Main Content -->
        <div class="bg-zinc-100 overflow-auto pt-4 px-4 pb-2 flex  flex-col gap-8">
             <header class="fixed top-0 left-0 right-0 bg-white shadow-lg rounded-xl p-4 flex justify-between  md:hidden">
            <h1 class="text-2xl font-bold text-blue-950 leading-tight">Movie Vault</h1>
            <button
            id="menu-btn"
            >
            <i
            class="fa-solid fa-bars text-lg"
            ></i>
            </button>
        </header>
        <%-include('./aside/aside') %>
                <div class="mt-14 md:mt-0 bg-white pb-8 shadow-xl rounded-xl flex flex-col gap-4  sm:flex-row justify-between  border-2  py-8 px-3">
                    <span>
                         <h1 class="text-3xl font-bold ">Movies</h1>
                        <p class="text-gray-500">Showing <%=movies.length%> Movies</p>
                    </span>
                    <div class="flex flex-col  sm:flex-row gap-4">
                                <form
                                method="GET"
                                action = "/movies/search"
                                class="flex w-[50%] "
                                >
                                      <input 
                                    type="text" 
                                    id="moviesearch" 
                                    name="moviesearch"
                                    placeholder="Search Movies"
                                    class=" h-full  w-[75%] outline-none border border-zinc-300 focus:border-violet-500 focus:ring-violet-500 rounded-bl-lg rounded-tl-lg px-5 py-2 text-base transition-all">      
                                    <button
                                    type="submit"
                                    class="bg-blue-500 h-full w-[25%] rounded-tr-lg rounded-br-lg"
                                    >
                                    <i class="fa fa-search fa-lg text-white" aria-hidden="true"></i>

                                    </button>    
                                </form>
                               
                                <a
                                 class="flex justify-center w-[50%] py-2 px-2 items-center bg-blue-500 sm:px-4  gap-4 rounded-xl " 
                                  href="/movies/add">
                                 <i
                          
                                 class="fa-solid fa-plus text-white"></i>
                                     <h1 class="text-white font-bold text-lg">Add A Movie</h1>
                                  </a>
                    
                    </div>
                
                     
                  
                </div>
                <div class="bg-white h-full shadow-xl rounded-xl border-2">
                
                      <table class="min-w-full ">
                        <thead class="bg-gray-50 border-b">
                                 <tr >
                                <th class="text-left px-6 py-3  font-semibold">Title & Director</th>
                                <th class="text-left px-6 py-3 font-semibold">Geners</th>
                                <th class="text-left px-6  font-semibold">Actions</th>
                                 </tr>
                        </thead>
                           <tbody class="">
                            <% if (movies && movies.length > 0)  
                            {%>
                                 <% movies.map((movie)=> {
                                   %>
                                   <tr class="bg-gray-50 border-b cursor-pointer">
                                        <td class="px-6 py-3 flex gap-4">
                                              <% 
                                           // Filter genres that belong to current movie
                                          const movieDirectors = directors.filter(d => d.movieid === movie.movieid);
                                             %>

                                            <a href="/movies/<%=movie.movieid%>">
                                                <img src="<%= movie.imageurl %>" 
                                                 alt=""
                                                width="180" 
                                                 height="180"
                                                    onerror="this.style.display='none';"
                                                style="object-fit: cover; border-radius: 8px;">
                                                <div class="flex flex-col justify-center">
                                                           <p class="font-semibold"><%=movie.moviename.toUpperCase()%></p>
                                           
                                                         <p class="text-gray-500">
                                                                    By    
                                                              <% if (movieDirectors.length > 0) { %>
                                                                  <% movieDirectors.forEach(director => { %>
                                                                    <%= director.directorname%>
                                                               <% }); %>
                                                             <% } 
                                                          else { %>
                                                             <p class="text-gray-400 text-sm italic">No Director Named</p>
                                                 <% } %></p>
                                                </div>
                                            </a>
                                            
                                         
                                        </td>
                                        <td class="px-6 py-3">
                                           <% 
                                           // Filter genres that belong to current movie
                                          const movieGenres = genres.filter(g => g.movieid === movie.movieid);
                                             %>
                                         
                                         <% if (movieGenres.length > 0) { %>
                                                   <% movieGenres.forEach(genre => { %>
                                                             <p class="font-semibold"><%= genre.genername%></p>
                                             <% }); %>
                                         <% } 
                                         else { %>
                                                    <p class="text-gray-400 text-sm italic">No genres Named</p>
                                         <% } %>
                                        </td>
                                        <td class="">
                                          
                                            <div class=" flex gap-4 items-center justify-center w-[50%]">
                                                <a
                                                 href="/movies/edit/<%=movie.movieid%>?type=editmovies"
                                                class="text-gray-500">
                                                         <i
                                                     
                                                      class="fas fa-edit"></i>
                                                </a>
                                                <button
                                                id="deleteMovieButton" 
                                                class="delete-btn text-gray-500"
                                                data-movie-id="<%= movie.movieid %>"
                                                >
                                                        <i class="fa-solid fa-trash"></i>
                                                </button>
                                                 
                                            </div>
                                        
                                        </td>
                                   </tr>
                        
                             <%
                            }) %>

                            <%}
                            else {
                                %>
                                    <tr>
      <td colspan="3" class="px-6 py-8 text-center">
        <h1 class="text-xl text-gray-400">No Movies Found</h1>
      </td>
                                <%
                            }
                             
                               %>
                               
                           </tbody>
                            
                    </table>
                </div>
            <% /*movies.map((movie)=> {
                %>
                <h1><%=movie.moviename%></h1>
                <%
            }) */%>
            <!-- Content here -->
        </div>