<div class="bg-zinc-100 overflow-auto pt-4 px-4 pb-2 flex  flex-col gap-8 min-h-screen">
    <div class="bg-white pb-8 shadow-xl rounded-xl  border-2 flex justify-between  py-8 px-3">
        <span>
             <h1 class="text-3xl font-bold ">Geners</h1>
                    <p class="text-gray-500">Showing <%=geners.length%> Geners</p>
        </span>
          <a
                class="flex items-center bg-blue-500 px-4 py-1 gap-4 rounded-xl" 
                href="/genres/add">
                  <i
                          
                        class="fa-solid fa-plus text-white"></i>
                        <h1 class="text-white font-bold text-lg">Add A Genre</h1>
                </a>         
    </div>
    <div class="bg-white  shadow-xl rounded-xl border-2 flex flex-col gap-2 justify-between cursor-pointer">
        <%geners.map((gener)=> {
            %>
            <div class="flex justify-between border-b-2 px-4 py-4 items-center">
                <a  href="/geners/<%=gener.genername%>/<%= gener.genreid%>">
                         <h1 class="font-semibold"><%=gener.genername%></h1>
                </a>
               
                <div class="flex gap-4 items-center justify-center px-4">
                        <a 
                        href="/editgenre/<%=gener.genreid%>"
                        class="text-gray-500">
                              <i class="fas fa-edit"></i>
                        </a>
                        <button class="text-gray-500">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                </div>
            </div>
            <%
        })%>
    </div>
</div>