<div class="bg-zinc-100 overflow-auto pt-4 px-4 pb-2 flex  flex-col gap-8 min-h-screen">
    <div class="bg-white pb-8 shadow-xl rounded-xl  border-2 flex justify-between  py-8 px-3">
        <span>
             <h1 class="text-3xl font-bold ">Geners</h1>
                    <p class="text-gray-500">Showing <%=geners.length%> Geners</p>
        </span>
        <div class="flex gap-4">
                <form
                                method="GET"
                                action = "/genres/search"
                                class="flex"
                                >
                                      <input 
                                    type="text" 
                                    id="genresearch" 
                                    name="genresearch"
                                    placeholder="Search Genres"
                                    class=" h-full  w-[75%] outline-none border border-zinc-300 focus:border-violet-500 focus:ring-violet-500 rounded-bl-lg rounded-tl-lg px-5 py-2 text-base transition-all">      
                                    <button
                                    type="submit"
                                    class="bg-blue-500 h-full w-[25%] rounded-tr-lg rounded-br-lg"
                                    >
                                    <i class="fa fa-search fa-lg text-white" aria-hidden="true"></i>

                                    </button>    
                                </form>
                 <a
                class="flex items-center bg-blue-500 px-4 py-1 gap-4 rounded-xl" 
                href="/genres/add">
                  <i
                          
                        class="fa-solid fa-plus text-white"></i>
                        <h1 class="text-white font-bold text-lg">Add A Genre</h1>
                </a>       
        </div>
           
    </div>
    <div class="bg-white  shadow-xl rounded-xl border-2 flex flex-col gap-2 justify-between cursor-pointer">
        <%geners.map((gener)=> {
            %>
            <div class="flex justify-between border-b-2 px-4 py-4 items-center">
                <a  href="/geners/<%=gener.genername%>/<%= gener.genreid%>">
                         <h1 class="font-semibold"><%=gener.genername%></h1>
                </a>
               
                <div class="flex gap-4 items-center justify-center px-4">
                        <a 
                        href="/editgenre/<%=gener.genreid%>"
                        class="text-gray-500">
                              <i class="fas fa-edit"></i>
                        </a>
                        <button
                        id="deleteGenreButton" 
                        class="delete-btn text-gray-500"
                        data-genre-id="<%=gener.genreid%>"
                        >
                            <i class="fa-solid fa-trash"></i>
                        </button>
                </div>
            </div>
            <%
        })%>
    </div>
</div>