<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css">
    
   <title>Movie Vault App</title>
</head>
<body class="m-0 bg-zinc-950">
    <!-- ERROR MODAL -->
<div id="errorModal" class="hidden fixed inset-0 bg-black/70 flex items-center justify-center ">
    <div class="bg-white rounded-3xl shadow-2xl max-w-md w-full mx-4 overflow-hidden">
        <!-- Header -->
        <div class="bg-red-600 px-6 py-4 text-white flex items-center gap-3">
            <i class="fa-solid fa-circle-exclamation text-2xl"></i>
            <h3 class="font-semibold text-lg">Duplicate Movie</h3>
        </div>
        
        <!-- Body -->
        <div class="p-8 text-center">
            <p id="modalErrorMessage" class="text-zinc-700 text-lg leading-relaxed">
                <!-- Error message injected here -->
            </p>
        </div>

        <!-- Footer -->
        <div class="border-t px-6 py-4 flex justify-end">
            <button onclick="closeModal()" 
                    class="bg-zinc-800 hover:bg-zinc-900 text-white px-8 py-3 rounded-2xl font-medium transition-all">
                Try Another Title
            </button>
        </div>
    </div>
</div>
    <div class="grid grid-cols-1 md:grid-cols-[30%+70%] lg:grid-cols-[20%_80%] h-screen w-full">
        <!-- Sidebar -->
        <%- include('../sideBar') %>

        <div class="bg-zinc-100 overflow-auto pt-10 px-6 pb-8">
             <header 
    class="fixed top-0 left-0 right-0 bg-white shadow-lg rounded-xl p-4 flex justify-between  md:hidden">
            <h1 class="text-2xl font-bold text-blue-950 leading-tight">Movie Vault</h1>
            <button
            id="menu-btn"
            >
            <i
            class="fa-solid fa-bars text-lg"
            ></i>
            </button>
        </header>
         <%-include('../aside/aside') %>
            <div class="max-w-4xl mx-auto mt-14 sm:mt-0">
                <div class="bg-white shadow-2xl rounded-3xl p-10 border border-zinc-200 ">
                    
                    <div class="flex items-center gap-3 mb-10">
                        <i class="fa-solid fa-film text-4xl text-violet-600"></i>

                        <h1 class="text-3xl font-bold text-zinc-800"><%=FormData?.singleMovie ? 'Editing A Movie' : 'Add New Movie' %></h1>
                    </div>

                    <form 
                    method="POST" 
                    action=" <%= FormData?.singleMovie[0] ? 
                    `/movie/editMovie/${FormData?.singleMovie[0].movieid}` : '/movie/newMovie' %>" 
                    id="myform" 
                   >

                        <!-- Basic Info -->
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                            <div>
                                <label for="moviename" class="block text-sm font-medium text-zinc-700 mb-2">
                                    Movie Title
                                </label>
                                <input 
                                    type="text" 
                                    id="moviename" 
                                    name="moviename"
                                    value='<%=FormData?.singleMovie[0].moviename%>'
                                    placeholder="Enter movie title"
                                    class=" outline-none w-full border border-zinc-300 focus:border-violet-500 focus:ring-violet-500 rounded-2xl px-5 py-4 text-base transition-all">
                                <span id="movienameError" class="text-red-500 text-sm mt-1"></span>
                            </div>

                            <div>
                                <label for="typeofmovie" class="block text-sm font-medium text-zinc-700 mb-2">
                                    Type
                                </label>
                                <select 
                                    id="typeofmovie" 
                                    name="typeofmovie"
                                
                                    class="outline-none w-full border border-zinc-300 focus:border-violet-500 focus:ring-violet-500 rounded-2xl px-5 py-4 text-base transition-all">
                                    <option 
                                    value='Movie'
                                      <%= FormData?.singleMovie[0].typeofmovie === 'Movie' ? 'selected' : '' %>
                                    >Movie</option>
                                    <option 
                                    value="Series"
                                       <%= FormData?.singleMovie[0].typeofmovie === 'Series' ? 'selected' : '' %>
                                    >Series</option>
                                    <option 
                                    value="Documentary"
                                       <%= FormData?.singleMovie[0].typeofmovie === 'Documentary' ? 'selected' : '' %>
                                    >Documentary</option>
                                    <option 
                                    value="Anime"
                                       <%= FormData?.singleMovie[0].typeofmovie === 'Anime' ? 'selected' : '' %>
                                    >Anime</option>
                                </select>
                            
                            </div>
                        </div>

                        <!-- Description -->
                        <div>
                            <label for="description" class="block text-sm font-medium text-zinc-700 mb-2">
                                Description
                            </label>
                           <textarea
                                id="description"
                                name="description"
                              
                                rows="3"
                                class="outline-none w-full border border-zinc-300 focus:border-violet-500 focus:ring-violet-500 rounded-3xl px-5 py-4 text-base transition-all resize-y"
                                placeholder=" <%= FormData?.singleMovie[0].description ?  FormData.singleMovie[0].description : 'Write A short description...' %>"><%= FormData?.singleMovie[0].description%></textarea>
                       
                        </div>

                        <!-- Priority + Rating + Image -->
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                            <div>
                                <label for="priority" class="block text-sm font-medium text-zinc-700 mb-2">
                                    Priority
                                </label>
                                <select id="priority" name="priority" 
                                    class="outline-none w-full border border-zinc-300 focus:border-violet-500 focus:ring-violet-500 rounded-2xl px-5 py-4">
                                    
                                    <option 
                                    value="1"
                                     <%= FormData?.singleMovie[0].priority === 1 ? 'selected' : '' %>
                                    >1 - Low</option>
                                    <option 
                                    value="2"
                                     <%= FormData?.singleMovie[0].priority === 2 ? 'selected' : '' %> 
                                    >2</option>
                                    <option 
                                    value="3"
                                     <%= FormData?.singleMovie[0].priority === 3 ? 'selected' : '' %>
                                    >3</option>
                                    <option 
                                    value="4"
                                       <%= FormData?.singleMovie[0].priority === 4 ? 'selected' : '' %>
                                    >4</option>
                                    <option 
                                    value="5"
                                     <%= FormData?.singleMovie[0].priority === 5 ? 'selected' : '' %>
                                    >5 - High</option>
                                    <option 
                                    value="0"
                                     <%= FormData?.singleMovie[0].priority === 0 ? 'selected' : '' %>
                                    >Already Watched it </option>
                                </select>
                            </div>

                            

                            <div>
                                <label for="imageurl" class="block text-sm font-medium text-zinc-700 mb-2">
                                    Cover Image URL
                                </label>
                                <input 
                                    type="text" 
                                    id="imageurl" 
                                    name="imageurl"
                                        value='<%=FormData?.singleMovie[0].imageurl%>'
                                    placeholder="<%=FormData?.singleMovie ? FormData.singleMovie[0].imageurl: 'https://...'%>"
                                    class="outline-none w-full border border-zinc-300 focus:border-violet-500 focus:ring-violet-500 rounded-2xl px-5 py-4">
                            </div>
                        </div>

                        <!-- Directors -->
                        <div>
                            <label class="block text-sm font-medium text-zinc-700 mb-3">
                                <i class="fa-solid fa-user-tie mr-2 text-amber-600 text-xl"></i> Directors
                            </label>
                            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 max-h-60 overflow-y-auto p-2 border border-zinc-200 rounded-3xl items-center">
                                <% allDirectors.forEach(director => { %>
                                    <label class="flex items-center gap-3 bg-white hover:bg-violet-50 border border-transparent hover:border-violet-200 rounded-2xl p-3 cursor-pointer transition-all group">
                                        <input 
                                            type="checkbox" 
                                   
                                            name="director[]" 
                                            value="<%= director.directorid%>"
                                              class="outline-none w-5 h-5 accent-violet-600"
                                            <%= FormData?.directorArray.includes(director.directorid) ? 'checked' : '' %>
                                          >
                                        <span class="text-zinc-700 group-hover:text-violet-700 transition-colors">
                                            <%= director.directorname %>
                                        </span>
                                    </label>
                                <% }) %>
                                <a
                                   href="/directors/add"
                                class="text-zinc-700 underline hover:text-blue-800 hover:no-underline hover:scale-105">Add New Director</a>
                            </div>
                          
                        </div>

                        <!-- Genres -->
                        <div>
                            <label class="block text-sm font-medium text-zinc-700 mb-3">
                                <i class="fa-solid fa-tags mr-2 text-violet-600 text-xl "></i> Genres
                            </label>
                            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 max-h-60 overflow-y-auto p-2 border border-zinc-200 rounded-3xl items-center">
                                <% allGeners.forEach(genre => { %>
                                    <label class="flex items-center gap-3 bg-white hover:bg-violet-50 border border-transparent hover:border-violet-200 rounded-2xl p-3 cursor-pointer transition-all group">
                                        <input 
                                            type="checkbox" 
                                            name="geners[]" 
                                            value="<%= genre.genreid%>"
                                            class="outline-none w-5 h-5 accent-violet-600"
                                                <%= FormData?.genersArray.includes(genre.genreid) ? 'checked' : '' %>
                                            >
                                        <span class="text-zinc-700 group-hover:text-violet-700 transition-colors">
                                            <%= genre.genername %>
                                        </span>
                                    </label>
                                <% }) %>
                                 <a
                                   href="/genres/add"
                                class="text-zinc-700 underline hover:text-blue-800 hover:no-underline hover:scale-105">Add New Genre</a>
                            </div>
                            <span id="generError" class="text-red-500 text-sm mt-1"></span>
                        </div>

                        <!--rating and watchedDate-->

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 ">
                            <div>
                                <label for="rating" class="block text-sm font-medium text-zinc-700 mb-2">
                                    Rating (Out of 10)
                                </label>
                                <select id="rating" name="rating" 
                                    class="outline-none w-full border border-zinc-300 focus:border-violet-500 focus:ring-violet-500 rounded-2xl px-5 py-4">
                                    <option value="" disabled selected>Select Rating</option>
                                    <% for(let i = 10; i >= 0; i--) { %>
                                        <option value="<%= i %>"><%= i %></option>
                                    <% } %>
                                </select>
                                  <span id="ratingError" class="text-red-500 text-sm mt-1"></span>
                            </div>
                            <div>
                                      <label 
                                for="watcheddate"
                                class="block text-sm font-medium text-zinc-700 mb-2"
                                >
                                Watched Date
                                </label>
                                <input
                                type="date" 
                                    id="watcheddate" 
                                    name="watcheddate"
                                    class="cursor-pointer outline-none w-full border border-zinc-300 focus:border-violet-500 focus:ring-violet-500 rounded-2xl px-5 py-4"
                                >
                            </div>
                              
                              
                            </div>
                        <!-- Submit Button -->
                        <div class="pt-6">
                            <button type="submit"
                                class="w-full bg-violet-600 hover:bg-violet-700 text-white font-semibold text-lg py-5 rounded-2xl transition-all duration-200 flex items-center justify-center gap-3 shadow-lg shadow-violet-500/30">
                                <i class="fa-solid fa-plus"></i>
                              <%= FormData?.singleMovie[0] ? 'Edit A Movie' : 'Add  Movie' %>
                            </button>
                        </div>
                        </div>
                        

                    </form>
                </div>
            </div>
        </div>
    </div>
<script>
    // Show error modal if error exists
    window.onload = function() {
        const error = "<%- error || '' %>";
        if (error) {
            
            document.getElementById('modalErrorMessage').innerHTML = error;
            document.getElementById('errorModal').classList.remove('hidden');
        }
    }

    function closeModal() {
        document.getElementById('errorModal').classList.add('hidden');
    }

    // Optional: Close modal when pressing Escape key
    document.addEventListener('keydown', function(e) {
        if (e.key === "Escape") {
            closeModal();
        }
    });
</script>
  <script src="/script.js"></script>
</body>
</html>