<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css">
    
    <title>Movie Vault App</title>
</head>
<body class="m-0">
    <div 
 id="dialogModal" 
 class="hidden fixed inset-0 bg-black/70 flex items-center justify-center ">
   
    <dialog 
    id="dialog"
    class="justify-self-center bg-white rounded-3xl shadow-2xl max-w-md w-full mx-4 overflow-hidden">
        <!-- Header -->
        <div class="bg-red-600 px-6 py-4 text-white flex items-center gap-3">
            <i class="fa-solid fa-circle-exclamation text-2xl"></i>
            <h3 class="font-semibold text-lg">Are You Sure You Want To Delete This Director?</h3>
        </div>
        
        <!-- Body -->
        <form
         method="GET" 
        action="/director/delete"
        id="mydialogform"
        class="p-8 text-center flex justify-between">
         <input type="hidden" name="directorid" id="directorIdInput" value="">
            <input type="hidden" name="type" id="directorTypeInput" value="directors">
            <button 
                   type="submit">Delete</button>
            <button
                   type="button"  
                   id="cancelButton">Cancel</button>
        </form>

      
    </dialog>
</div>
    <div class="grid grid-cols-1 md:grid-cols-[30%_70%] lg:grid-cols-[20%_80%] h-screen w-full">
        <%- include('../sideBar') %>
        <div class="bg-zinc-100 overflow-auto pt-8 px-4 pb-2 flex flex-col gap-8 min-h-screen">
                 <header class="fixed top-0 left-0 right-0 bg-white shadow-lg rounded-xl p-4 flex justify-between  md:hidden">
            <h1 class="text-2xl font-bold text-blue-950 leading-tight">Movie Vault</h1>
            <button
            id="menu-btn"
            >
            <i
            class="fa-solid fa-bars text-lg"
            ></i>
            </button>
        </header>
        <%-include('../aside/aside') %>
                 <div class="mt-14 md:mt-0 bg-white pb-8 shadow-xl rounded-xl  border-2 flex flex-col gap-4 md:gap-0 sm:flex-row justify-between  py-8 px-3">
                    <span>
                              <h1 class="text-3xl font-bold ">Directors</h1>
                    <p class="text-gray-500">Showing <%=director.length%> Directors</p>
                    </span>
                    <div class="flex flex-col sm:flex-row gap-4">
                            <form
                                method="GET"
                                action = "/director/search"
                                class="flex w-[50%]"
                                >
                                      <input 
                                    type="text" 
                                    id="directorsearch" 
                                    name="directorsearch"
                                    placeholder="Search Director"
                                    class=" h-full  w-[75%] outline-none border border-zinc-300 focus:border-violet-500 focus:ring-violet-500 rounded-bl-lg rounded-tl-lg px-5 py-2 text-base transition-all">      
                                    <button
                                    type="submit"
                                    class="bg-blue-500 h-full w-[25%] rounded-tr-lg rounded-br-lg"
                                    >
                                    <i class="fa fa-search fa-lg text-white" aria-hidden="true"></i>

                                    </button>    
                                </form> 
                             <a
                class="flex items-center bg-blue-500 px-4 py-2 gap-4 rounded-xl w-[50%]" 
                href="/directors/add">
                  <i
                          
                        class="fa-solid fa-plus text-white"></i>
                        <h1 class="text-white font-bold text-lg">Add A Director</h1>
                </a>
                    </div>
                   
                    
                 </div>
                 <div class="bg-white  shadow-xl rounded-xl border-2 flex flex-col gap-2 justify-between cursor-pointer">
                    <% if(director && director.length > 0) {
                        %>
                             <%director.map((eachdirector)=> {
                        %>
                            <div class="flex justify-between border-b-2 px-4 py-4 items-center">
                                <a  href="/director/<%=eachdirector.directorname%>/<%=eachdirector.directorid%>">
                                    <h1 class="font-semibold"><%=eachdirector.directorname%></h1>
                                 </a>
               
                              <div class="flex gap-4 items-center justify-center px-4">
                                   <a
                                   href="/editdirector/<%=eachdirector.directorid%>?type=editdirector" 
                                   class="text-gray-500">
                                         <i class="fas fa-edit"></i>
                                   </a>
                                  <button
                                  id="deleteDirectorButton" 
                                  class="delete-btn text-gray-500"
                                   data-director-id="<%= eachdirector.directorid%>"
                                  >
                                         <i class="fa-solid fa-trash"></i>
                                </button>
                             </div>
                     </div>
             <%
                })%>
                        <%
                    }
                    else {
                        %>
                        <div class="flex items-center justify-center p-8">
      
        <h1 class="text-xl text-gray-400">No Directors Found In This Name</h1>
     
      </div>
                        <%
                    }
                    %>
                        
                 </div>
        </div>
    </div>
    <script  src="/director.js"></script>
</body>
</html>