<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css">
    
   <title>Movie Vault App</title>
</head>
<body class="m-0">
    <div class="grid grid-cols-1 md:grid-cols-[30%_70%] lg:grid-cols-[20%_80%] h-screen w-full">
        <%- include('../../sideBar') %>
        <div class="bg-zinc-100 overflow-auto pt-8 px-4 pb-2 flex flex-col gap-8 min-h-screen">
              <header class="fixed top-0 left-0 right-0 bg-white shadow-lg rounded-xl p-4 flex justify-between  md:hidden">
            <h1 class="text-2xl font-bold text-blue-950 leading-tight">Movie Vault</h1>
            <button
            id="menu-btn"
            >
            <i
            class="fa-solid fa-bars text-lg"
            ></i>
            </button>
        </header>
        <%-include('../../aside/aside') %>
                 <div class="mt-14 sm:mt-0 bg-white pb-8 shadow-xl rounded-xl  border-2 flex flex-col gap-8 justify-center py-8 px-3 ">
                        <h1 class="text-3xl font-bold"><%=directorname%></h1>
                        <p class="text-gray-500">Movies In This Category</p>
                        <div class="flex  gap-8 flex-wrap justify-center ">

                            <% if(singleDirector && singleDirector.length > 0){
                                %>
                                 <%singleDirector.map((eachDirector)=> {
                                    %>
                                  <img 
                        src="<%= eachDirector.imageurl %>" 
                        alt="<%= eachDirector.moviename || 'Movie' %>"
                        width="250" 
                        height="250"
                        onerror="this.style.display='none';"
                        style="object-fit: cover; border-radius: 8px; box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);"
                    >
                                    <%
                                })%>
                                <%
                            }
                            else {
                                %>
                                 <p class="text-gray-400 text-sm italic">
                                        No Movies Yet
                                    </p>
                                <%
                            }
                            %>
                               
                        </div>
                 </div>
               
        </div>
    </div>
    <script  src="/director.js"></script>
</body>
</html>